body{
    background-color: aqua;
    color: black;
}

h1{
    color: darkviolet;
    font-size: 35px;
}

p{
    color: color-mix(in srgb, color percentage, color percentage);
    font-size: 20px;
}

header{
    border-bottom: solid 2px red;
    font-size: 40px;
    color: aquamarine;
    padding: 20px;
}

.chama-texto{
    margin: 3%;
}

section{
    background-color: cadetblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
